/*
 * File : css/woo-wishlist.css
 * Date : 23/11/2016
 * Author : Alex P
 *
 * Woo Wish List CSS styling
 * 
 */

.woocommerce ul.products li.product img.wwl-spinner, .woo-wishlist-button > img.wwl-spinner {
    width: auto;
    display: none;
    margin: 0 auto;
    padding: 5px;
}
 
.woo-wishlist {
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.woo-wishlist-row {
    width: 100%;
}

.woo-wishlist-row td {
    text-align: center;
}

.woo-wishlist-button {
    transition: 0.3s ease all;
    background-color: #F8BBD0;
    color: white;
    text-align: center;
    display: block;
    border-radius: 5px;
    border: 1px solid #C2185B;
    font-size: 14px;
}

.woo-wishlist-button:hover {
    color: white;
    background-color: #E91E63;
    cursor: pointer;
}

.woo-wishlist-remove {
    background-color: #E91E63;
}

.woo-wishlist-remove:hover {
    background-color: #F8BBD0;
}